{% extends 'base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block body %}

	<style>
		a {
			color: #491C52;
			text-decoration: none;
		}

		.btn-new {
			background-color: #EEE029;
			color: #491C52;
			border: none;
			font-weight: 700;
			padding: 10px 20px;
		}

		.btn-new:hover {
			background-color: #491C52;
			color: #EEE029;
		}
	</style>

	<div class="container my-3 py-3">
		<h1>Category index</h1>

		<table class="table">
			<thead>
				<tr>
					
					<th>Category Name</th>
					<th>Category Image</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr>
						
						<td>{{ category.categoryName }}</td>
						<td><img src="{{asset('uploads/'~category.categoryImage)}}" alt="" width="80"></td>
						<td>
							<a href="{{ path('app_category_crud_show', {'id': category.id}) }}" class="mx-2" data-toggle="tooltip" data-placement="top" title="Show">
								<i class="far fa-eye"></i>
							</a>
							<a href="{{ path('app_category_crud_edit', {'id': category.id}) }}" data-toggle="tooltip" data-placement="top" title="Edit">
								<i class="fas fa-edit"></i>
							</a>
						</td>

					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_category_crud_new') }}" class="btn btn-primary btn-new btn-lg btn-sm">Create new</a>
	</div>

{% endblock %}
